/*Tag styles*/
body{
    margin: 0%;
}
header{
    display: flex;
    justify-content: space-between;
}
h1{
    display: inline;
    margin: 0;
}
/*class styles*/
/*Id styles*/
#rightHeader{
    margin-top: .5em;
    margin-right: 1em;
}
#rightHeader input{
    margin-right: .5em;
    margin-left: .5em;
}
#rightHeader button{
    margin-right: .5em;
    margin-left: .5em;
}
#leftHeader{
    margin-top: .25em;
    margin-left: .5em;
}

*{
    box-sizing:border-box
}