/*header and contents*/
/*
colors:
Dark Spring Green - #2c6e49
Middle Green - #4c956c
Light Yellow - #fefee3
Glossy Grape - #af90a9
black coffee - #483d3f
*/

*{
    box-sizing: border-box;
    margin: 0;
}
main{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row: 2;
    margin: 0;
    padding: 0;
}
#logo{
    grid-column: 1/ span 2;
    grid-row: 1;
    float: left;
    width: 100%;
}
#logo h1{
    margin-left: 10%;
}
#search{
    grid-column: 3/ span 2;
    grid-row: 1;
}
#search form{
    display: flex;
    justify-content: space-between;
    float:none;
    margin-top: 0;
}
#icons{
    grid-column: 6;
    grid-row: 1;
    display: flex;
    justify-content: space-around;
}
#account{
    grid-column: 1;
    grid-row: 2;

}
#content{
    grid-column: 2/ span 4;
    -ms-grid-column-span: 2;
    grid-row: 2;
}
#friends{
    grid-column: 6;
    grid-row: 2;
}
.post{
    background-color: aquamarine;
    height: 20vh;
    padding: 1%;
}
.content{
    display: flex;
    justify-content: space-around;
}
.content .contentImg{
    height: 15vh;
    width: auto;
}
.interactions{
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
}
.interactions *{
    margin-right: 5px;
}
.header{
    height: 6vh;
    width: 100%;
    padding-top: 20px;
}
.main{
    min-height: 94vh;
}
.flex{
    display: flex;
    justify-content: space-evenly;
}